<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test-Suite" >
   <test name="TestLogin" >
       <classes> 
          <class name="test.userlogin.UserLogin" />
          <class name="test.usersignup.SignUp" />
          <class name="test.usersignup.ForgotPassword"/>
         
       </classes>
   </test>
 </suite>
     